@import '../theme';

.card {
    width: 280px;
    height: 170px;

    background: $white;
    border-radius: 5px;

    margin: 20px;
    margin-left: 1vw;

    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.05);
    box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.05);
}
