@import '../theme';

.table {
    width: 98%;
    height: 100%;

    background: $white;
    border-radius: 5px;

    padding: 0px 40px;

    overflow-y: auto;

    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.05);
    box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.05);
}

.titleTableContainer {
    width: 100%;
    height: max-content;

    display: flex;
}

.titleTable {
    width: 65%;
    height: 100px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titleTable > span {
    color: $black;
    font-size: 24px;
    font-weight: bolder;
}

.buttonFilters {
    width: 35%;
    height: 100px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.buttonFilters > button {
    padding: 10px 30px;

    border: none;
    outline: none;
    border-radius: 5px;

    background: $purple-dark;

    color: $white;
    font-size: 19px;
    font-weight: 500;
}

.headerTableContentContainer {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;

    border-bottom: 1px solid rgba($color: $black, $alpha: .35);
}

.titleTableNameContainer {
    width: 25%;
    height: 100%;

    display: flex;
    align-items: center;
}

.titleTablePriceContainer {
    width: 25%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.titleTablePaymentContainer {
    width: 25%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.titleTableStatusContainer {
    width: 25%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.spanHeaderTable {
    color: $black;
    font-size: 18px;
    font-weight: bolder;
}
