@import '../theme';

.container {
    width: 100vw;
    height: 100vh;

    display: flex;

    background: $background;
}

.containerContent {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    overflow: auto;
}



// Card Container
.cardsContainer {
    width: 100%;
    height: max-content;

    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;

    padding: 10px 0;
}

@media only screen and (max-width: 1200px) {
    .cardsContainer {
        justify-content: center;
    }
}



// Table Container

.tableContainer {
    width: 100%;
    height: 63vh;
    min-height: 585px;
    max-height: 590px;

    display: flex;

    justify-content: flex-start;
    align-items: center;

    padding-left: 1vw;
    margin-bottom: 40px;
}
